{% extends 'MyApp/base.html' %}

{% block content %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <style>
    #hero-bg{
      background: url("{{ home.picture.url }}") top center;
    }
  </style>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{ home.name }}</h1>
      <p>I'm <span class="typed" data-typed-items="{{ home.details }}"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>{{ about.detail }}</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ about.picture.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{ about.title }}</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> 
                    <strong>Birthday:</strong> <span>{{ about.birthday }}</span></li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Website:</strong> <span>{{ about.website }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> 
                    <strong>Phone:</strong> <span>{{ about.phone }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> 
                    <strong>City:</strong> <span>{{ about.city }}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> 
                    <strong>Age:</strong> <span>{{ about.age }}</span></li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Degree:</strong> <span>{{ about.degree }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> 
                    <strong>PhEmailone:</strong> <span>{{ about.email }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{ about.freelance }}</span></li>
                </ul>
              </div>
            </div>
            <p>
              {{ about.details }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
        </div>

        <div class="row no-gutters">
          {% for fact in about.facts.all %}
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-{{ fact.icon }}"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ fact.counter_end }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ fact.title }}</strong> {{ fact.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Skills</h2>
          <p>{{ about.about_my_skill }}</p>
        </div>

        <div class="row skills-content">

          {% for skill in about.skills.all %}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">{{ skill.specialization }}<i class="val">{{ skill.grade }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.grade }}" aria-valuemin="0" aria-valuemax="{{ skill.grade }}"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>{{ resumes.about }}</p>
        </div>

        <div class="row">
          {% for resume_area in resumes.area.all %}
          <div class="col-lg-6" data-aos="fade-up">
            {% for resume_detail in resume_area.detail.all %}
            <h3 class="resume-title">{{ resume_detail.title }}</h3>
            <div class="resume-item pb-0">
              <h4>{{ resume_detail.name }}</h4>
              <h5>{{ resume_detail.duration }}</h5>
              <p><em>{{ resume_detail.description }}</em></p>
              <ul>
                {% for resume_list in resume_detail.list.all %}
                <li>{{ resume_list.text }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for tab in portfolio_group %}
              <li data-filter=".filter-{{ tab.id }}">{{ tab.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for item in portfolios %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ item.id }}">
            <div class="portfolio-wrap">
              <img src="{{ item.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{ item.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ item.name }}"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>{{ services.about }}</p>
        </div>

        <div class="row">
          {% for service in services.my_service.all %}
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-{{ service.icon }}"></i></div>
            <h4 class="title"><a href="">{{ service.title }}</a></h4>
            <p class="description">{{ service.description }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimony in testimonies %}
            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ testimony.comment }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ testimony.img.url }}" class="testimonial-img" alt="">
                <h3>{{ testimony.person }}</h3>
                <h4>{{ testimony.profession }}</h4>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{ contact.location }}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ contact.email }}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{ contact.call }}</p>
              </div>

              <iframe src="{{ contact.map_code }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% url 'contact_email' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message">
                  {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == "danger" %}
                        <strong>Error!</strong> {{ message }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}